* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #6f4e37, #3e2723);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-container {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.order-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #3e2723;
}

label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  resize: none;
  height: 70px;
}

.order-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #c69c6d, #8b5a2b);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.order-btn:hover {
  transform: scale(1.05);
}

#message {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
}
